html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

.loaderContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.errorContainer {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;

	p {
		color: #ff6666;
		font-size: 18px;
	}
}

hr {
    border: none;
    border-top: 1px solid rgb(40, 40, 40);
    margin-top: 10px;
}

.App {
    display: flex;
    flex-direction: row;

	> .navbar {
		width: 30%;
		height: 100vh;
	}

    > :nth-child(2) {
        flex-grow: 1;
        border-right: rgb(40, 40, 40) 1px solid;
        border-left: rgb(40, 40, 40) 1px solid;
    }

    > :nth-child(3) {
        width: 30%;
        height: 100vh;
        background-color: black;
    }
}

input {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 400;
    outline: none;

    &::placeholder {
        color: gray;
    }

	/* --- Estilização da Scrollbar (Clean Dark Mode) --- */

    /* 1. Para Firefox */
    scrollbar-width: thin;
    scrollbar-color: #555 #1f1f1f; /* polegar / trilha */

    /* 2. Para Chrome, Edge, Safari (WebKit) */

    /* A barra inteira */
    &::-webkit-scrollbar {
        width: 8px; /* Largura fina */
    }

    /* A "trilha" (fundo) */
    &::-webkit-scrollbar-track {
        background: #1f1f1f; /* Cinza bem escuro (quase preto) */
        border-radius: 10px;
    }

    /* O "polegar" (parte móvel) */
    &::-webkit-scrollbar-thumb {
        background-color: #555; /* Cinza médio */
        border-radius: 10px;
        
        /* Truque para fazer o polegar parecer mais fino (padding falso) */
        border: 2px solid #1f1f1f; 
    }

    /* "Polegar" ao passar o mouse */
    &::-webkit-scrollbar-thumb:hover {
        background-color: #777; /* Cinza mais claro */
    }
}

button {
    margin-left: auto;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #f3f3f3;
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #e0e0e0;
    }

    &:disabled {
        background-color: gray;
        transition: none;
        cursor: not-allowed;
    }
}

textarea {
    @extend input;
    max-height: 200px;
    field-sizing: content;
    flex: 1;
    resize: none;
}

.espaco {
    margin-top: 12px;
}

p {
    white-space: pre-line;
    overflow-wrap: break-word; /* permite quebrar palavras grandes */
    word-wrap: break-word; /* compatibilidade com browsers antigos */
    word-break: break-word; /* quebra mesmo sem espaço */
}

.formInput {
	display: flex;
	flex-direction: row;
	gap: 8px;
}